*{
        padding: 0;
        margin: 0;
        font-family: 'Lato', sans-serif;
        color: #000;
    }
    #bg2033 {
        background-color: white;
    }
    .student-profile .card-01 {
        border-radius: 10px;
    }
    .student-profile .card-01 .card-header-01 .profile_img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin: 10px auto;
        border: 10px solid #ccc;
        border-radius: 50%;
    }
    .student-profile .card-01  h3 {
        font-size: 20px;
        font-weight: 700;
    }
    .student-profile .card-01  p {
        font-size: 16px;
        color: #000;
    }
    .profile_img {
        background-image: url('/src/images/profile.png');
        background-position: center;
    }
    
      
